.intro {
    background: linear-gradient(to bottom, #343588, #66b3ff); /* Dégradé de haut en bas */
    padding: 100px 20px;
    color: #fff;
}

.example {
    background: #AAABB8; /* Gris clair */
    padding: 100px 20px;
    color: #25274D;
}

.resources {
    background: #29648A; /* Bleu moyen */
    padding: 100px 20px;
    color: #fff;
}

footer {
    background-color: #25274D; /* Bleu foncé */
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
}
