body {

        background: linear-gradient(to right, #66b3ff, #343588);
    font-family: Arial, sans-serif;
    margin: 10px;
    margin-bottom: 50px;
}

.explication-lime{
    font-family: Dubai;
    color:white;
    padding-bottom: 25px;

}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

span {
    padding: 2px;
    margin: 2px;
    display: inline-block;
}





.lime-prediction, .lime-weights {
    width: 45%;
}


.lime-prediction{
        text-align: center;
    margin-left:28%;
    border-radius:10px;
    background-color: #3169d5;
    color:white;
}
.lime-weights{
    text-align: center;
    margin-left:28%;
    border-radius:10px;
    background-color: #3169d5;
    color:white;
}

.resume-explications{
     margin-left:0%;
    text-align: center;
    border-radius:10px;
    background-color: #3169d5;
    color:white;
}

.brevet-numero{
    color:white;
    font-family: Dubai;
    font-size:25px;
}


.infos-essentielles{
    border-radius:10px;
    background-color: #3169d5;
    font-family: Dubai;
    color:white;
}
h2{
    color:white;
}

.robot_loupe_gif{
    width: 30%;
    height: 30%;
    position: absolute;
    top:15%;
    left: 15%;
}

