.intro {
    background: linear-gradient(to bottom, #66b3ff, #343588);
    padding: 100px 20px;
    color: #fff;
}

/* Styles pour le conteneur de résultats avec un gradient */
.result-container {
    background: linear-gradient(to right, #343588, #66b3ff);
    color: #ffffff;
    border-radius: 30px;
    padding: 20px;
    min-width: 760px;  /* Augmentation de la largeur maximale */
    min-height: 300px;  /* Hauteur minimale pour éviter qu'il ne devienne trop court */
    margin: 50px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Styles pour le titre */
.result-container h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Styles pour les paragraphes */
.result-container p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Styles pour la div d'explication */
#explanation {
    border-radius: 15px;
    padding: 10px;
    white-space: pre-wrap; /* Pour permettre les sauts de ligne */
    overflow: auto; /* Pour gérer le débordement de contenu */
}

/* Styles pour les titres de section */
.result-container h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

/* Styles pour le formulaire de feedback */
.result-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Styles pour les champs du formulaire */
.result-container form input,
.result-container form textarea,
.result-container form select {
    background-color: #40444b;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
}

/* Styles pour le bouton de soumission */
.result-container form button[type="submit"] {
    background-color: #7289da;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.result-container form button[type="submit"]:hover {
    background-color: #5b6eae;
}
