/* Import Inconsolata font */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

/* Global styles */
body {
    font-family: 'Inconsolata', monospace;
    background-color: #AAABB8;
    color: #25274D;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2 {
    color: #25274D;
    font-weight: 700;
    margin: 20px 0;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.5s;
}

#navbar {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    transition: all 0.5s;
}

#navbar.default {
    background-color: transparent;
}


#navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    margin: 0 15px;
}

#navbar ul li a {
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

#navbar ul li a:hover {
    transform: scale(1.1)
}

section {
    padding: 100px 20px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.example {
    background: #AAABB8;
    color: #25274D;
}

.resources {
    background: #29648A;
    color: #fff;
}

footer {
    background: linear-gradient(to bottom, #343588, #1a1b49);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
}
.navbar-logo {
    height: 22px;
    width: auto;
}

.welcome-text {
    position : absolute;
    font-size: 45px;
    font-family: Dubai;
    text-align: left;
    margin-right: 750px;
    top : 150px;
}

.welcome-text2 {
    font-size: 25px;
    font-family: "Gill Sans MT";
    text-align: left;
    margin-bottom: 20px;
}
.button {
    display: inline-block;
    padding: 15px 10px;
    font-family: Dubai;
    font-size: 20px;
    background-color: #294c9d;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 15px;
}

.button:hover {
    background-color: #0056b3;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.boutons {
    display : flex;
    position : absolute;
    top : 390px;
    left : 750px;
    gap : 10px;
}

