{% extends 'base.html' %}

{% block title %}Explication LIME{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/explain.css') }}">
    <style>
        .highlight {
            background-color: yellow;
        }
        .scrollable {
            max-height: 300px;
            overflow-y: scroll;
        }
    </style>
{% endblock %}

{% block content %}
<div class="explain-body">
    <h1 class ="explication-lime"> <br>Explication LIME</h1>
    <p class ="brevet-numero"><strong>Informations du brevet n°{{ explanation.application_number }} :</strong></p>
        <div class="lime-prediction">
            <h2>PROBABILITÉ DES PRÉDICTIONS</h2>
            <table>
                <tr>
                    <th>Classe</th>
                    <th>Probabilité</th>
                </tr>
                {% for label, prob in explanation.predict_proba %}
                <tr>
                    <td>{{ label }}</td>
                    <td>{{ prob }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="lime-weights">
            <h2>IMPORTANCE DES FONCTIONNALITÉS</h2>
            <table>
                <tr>
                    <th>Fonctionnalité</th>
                    <th>Valeur</th>
                </tr>
                {% for feature, value in explanation.feature_weights %}
                <tr>
                    <td style="color: {% if value > 0 %}green{% else %}red{% endif %};">{{ feature }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    <div class ="resume-explications">
        <h2>RÉSUMÉ DES EXPLICATIONS</h2>
        <p>Les caractéristiques suivantes ont eu le plus grand impact sur la prédiction :</p>
        <ul>
            {% for feature, value in explanation.feature_weights %}
            <li><strong>{{ feature }}</strong> : {{ value }}</li>
            {% endfor %}
        </ul>
        <p><strong>Classe prédite :</strong> {{ explanation.predicted_class }}</p>
        <p><strong>Probabilité associée :</strong> {{ explanation.predicted_prob }}</p>
    </div>

    <h2>INFORMATIONS ESSENTIELLES</h2>
    <div class="scrollable">
        <p class ="infos-essentielles">{{ explanation.description }}</p>
    </div>
</div>
{% endblock %}
