{% extends 'base.html' %}

{% block title %}Import Patent{% endblock %}

{% block extra_head %}
<!-- Inclure la feuille de style home.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/import.css') }}">
{% endblock %}



{% block content %}

 {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

<section id="import-patent" class="intro">
    <h2 class = "import-patent-title">Veuillez renseigner les informations du brevet à importer :</h2>
        <img src="static/images/import-patent-bg1.png", class ="import-bg1">
        <img src="static/images/import-patent-bg2.png", class ="import-bg2">
        <img src="static/images/robot_task_gif.gif", class ="robot-task">
        <img src="static/images/robot_task2_gif.gif", class ="robot-task2   ">

        <h1 class = "patent-infos-title">LES INFORMATIONS<br> PRINCIPALES <br>CONCERNANT LES BREVETS </h1>

    <div class = "patent-infos">
        <p>Le numéro d'application d'un brevet est un<br> numéro à 8 chiffres par exemple : 17167919,
        <br>le code CPC quant à lui, est entré entre crochet <br>et correspond à la description du brevet, ex :<br> "[A01B]
        pour "Outils agricoles; Parties des <br>machines agricoles ou outils agricoles. Vous <br>devrez aussi fournir un fichier
        txt contenant les<br> informations essentielles sur le brevet.
        </p>

    </div>
    <div class ="import-form">
    <form action="{{ url_for('upload_patent') }}" method="POST" enctype="multipart/form-data">
        <label for="application_number">Numéro d'application :</label>
        <input type="text" id="application_number" name="application_number" required>

        <label for="cpc">CPC :</label>
        <input type="text" id="cpc" name="cpc" required>

        <label for="file">Fichier des Infos Essentielles :</label>
        <input type="file" id="file" name="file" accept=".txt" required>

        <button type="submit" class="button">Importer</button>
    </form>
        </div>
</section>
{% endblock %}
