{% extends 'myapp/base.html' %}

{% block title %}Import Patent{% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/import.css' %}">
{% endblock %}


{% block content %}
<section id="import" class="intro">
    <section id="import-conteneur" class ="conteneur">
        <h1 class ="import-title">Import Patent Description</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </section>
</section>

{% endblock %}
